@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

/*--------------------------------------------*/
/*Général*/
/*---------------------------------------------*/

body {
  max-width: 767px;
  margin: auto;
  font-family: 'Raleway', Arial, sans-serif;
  background-color: #FFF;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h1,h2,h3 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0px
}

/*--------------------------------------------*/
/*Card destination populaire*/
/*--------------------------------------------*/

.container-popular {
  background-color: #F2F2F2;
  padding: 25px;
  max-width: 767px;
  margin: auto;
}


.card-popular {
  height: 150px;
  display: flex;
  position: relative;
  background-color: #FFF;
  padding-right: 5px;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 5px;
  margin-top: 25px;
  border-radius: 20px;
}

.card-popular-image {
  max-width: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-popular-body {
  padding-left: 20px;
}

.card-popular-text {
  position: absolute;
  top: 10px;
}

/*étoiles*/
/*--------------------*/

.five-stars {
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 10px;
}

.blue, .grey {
  font-size: 14px;
}

.blue {
  color: #0065FC;
}

.grey {
  color: #F2F2F2;
}

/*-----------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/



@media (min-width: 768px) {

  body {
    max-width: 991px;
  }
  
  .container-popular {
    border-radius: 30px;
    max-width: 768px;
  }


}

@media (min-width: 992px) {

  body {
    max-width: 991px;
  }

}

@media (min-width: 1200px) {

  body {
    max-width: 1500px;
  }
  
}