/*-----------------------------------------------------------------------------------------------*/
                                      /*MOBILE FIRST*/
/*-----------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*Général*/
/*------------------------------------------------------------------------*/

/*Typo*/
/*----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@420;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

h1,h2,h3,p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

input:focus {
  outline: none;
}

/*Dimensions*/
/*----------------------------*/

.screen-XL {
  max-width: 1200px;
  margin: auto;
  padding: 30px 25px 30px 25px;
}

.screen-XL_no-padding {
  max-width: 1200px;
  margin: auto;
}

/*------------------------------------------------------------------------*/
/*Header*/
/*------------------------------------------------------------------------*/

.header_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.header_first_register a{
  color: #0065FC;
  font-size: 16px;
  font-weight: bold;
}

/*Nav*/
/*----------------------------*/

.header_menu {
  display: flex;
  justify-content: space-between;
}

.header_menu_btn1 {
  width: 50%;
  font-size: 16px;
  color: #0065FC;
  border: none;
  border-bottom: 4px solid #0065FC;
  padding: 20px 5% 20px 5%;
  text-align: center;
}

.header_menu_btn2 {
  width: 50%;
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 4px solid #F2F2F2;
  padding: 20px 5% 20px 5%;
  text-align: center;
}

/*------------------------------------------------------------------------*/
/*Premiere page/recherche*/
/*------------------------------------------------------------------------*/

/*Slogan*/
/*----------------------------*/

.main h1 {
  padding-bottom: 10px;
}

/*Champs de recherche*/
/*----------------------------*/

.main_search {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  position: relative;
}


.main_search_input {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 14.5px 70px;
  border-radius: 15px;
  border : 2px solid #F2F2F2;
  box-sizing: border-box;
}


:placeholder-shown {
  font-weight: normal;
}



.main_search_btn1 {
  width: 54px;
  height: 54px;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #F2F2F2;
  font-size: 18px;
  position: absolute;
  left: 0px;
}

.main_search_btn2 {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 15px;
  background-color:#0065FC;
  font-size: 18px;
  color: #FFF;
  position: absolute;
  right: 0px;
}

/*Filtres*/
/*----------------------------*/

/*Titre*/
.main_filter_title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

/*Cards filtres*/
.main_filter_card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.main_filter_card_box {
  display: flex;
  align-items: center;
  position: relative;
}

.main_filter_card_box_btn {
  padding: 10px 15px 10px 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border : 2px solid #D9D9D9;
  background-color: #FFF;
}

.main_filter_card_box_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px; 
  height: 42px;
  min-width: 42px; 
  background-color: #DEEBFF;
  border-radius: 42px;
  font-size: 16px;
  color: #0065FC;
  position: absolute;
  left: 0px;
}

/*Texte et icone information*/
.main_filter_info {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-top: 30px;
}

.main_filter_info_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px; 
  height: 25px;
  min-width: 25px; 
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  font-size: 12px;
  color: #0065FC;
}

/*------------------------------------------------------------------------*/
/*Card destination populaire*/
/*------------------------------------------------------------------------*/

.featured {
  background-color: #F2F2F2;
}

/*Titre et icone*/
.featured_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.fa-chart-line {
  font-size: 22px;
}
/*Card*/
.featured_storage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.featured_storage_card {
  display: flex;
  background-color: #FFF;
  padding: 7px;
  border-radius: 20px;
}

.featured_storage_card_img {
  width: 40%;
  object-fit: cover;
  border-radius: 15px;
  height: 200px;
}

.featured_storage_card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 15px 25px;
}

.featured_storage_card_body_text_title {
  padding-bottom: 10px;
}

.featured_storage_card_body_stars {
  padding-top: 15px;
}

.star_blue {
  color: #0065FC;
}

.star_grey {
  color: #F2F2F2;
}
/*------------------------------------------------------------------------*/
/*Card hébergement*/
/*------------------------------------------------------------------------*/





/*------------------------------------------------------------------------*/
/*Card activité*/
/*------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/


